.footer {
    background: #313131;
    /* position: relative; */
    top: 3rem;
    /* margin-top: 4rem; */
    height: 150px;
    justify-content: space-around;
    align-items: center;
    display: flex;
}

.footer_navigation {
    justify-content: space-between;
    list-style-type: none;
    text-transform: capitalize;
    display: flex;
    width: 40%;
    margin: 0;
    padding: 0;
}

.footer_navigation li {
    text-transform: capitalize;

}

.footer_navigation li a {
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    
}
.dnd {
    color: var(--clr-primary-light);
}

@media (min-width: 320px) and (max-width: 480px) {
    .footer{
        font-size: 14px;
        flex-direction: column;
    }
    .footer_navigation{
        justify-content: space-around;
        width: 100%;
    }
    .footer-social-media{
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
}
@media (min-width: 481px) and (max-width: 768px) {
    .footer{
        font-size: 14px;
        flex-direction: column;
    }
    .footer_navigation{
        justify-content: space-around;
        width: 100%;
    }
    .footer-social-media{
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
}
@media (min-width: 769px) and (max-width: 1024px) {
    .footer{
        font-size: 14px;
        flex-direction: column;
    }
    .footer_navigation{
        justify-content: space-around;
        width: 100%;
    }
    .footer-social-media{
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
}